<!DOCTYPE html>
<html>
	<head>
		<title>Microservices Project - Error</title>
		<meta name="robots" content="noindex, nofollow">
		
		<!-- Include CSS File Here -->
		<link rel="stylesheet" href="css/style.css" />
		
		<!-- Include CSS File Here -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>		
		
	</head>
	
	<body>
		<div class="container">
			<div class="main">
				<h2>Error !!</h2>
			</div>
			<br/>
			<div>
				<a href="login" role="button">Back to Login</a>
			</div>	
		</div>
	</body>
	
</html>