<!DOCTYPE html>
<html>
	<head>
		<title>Microservices - User Home</title>
		<meta name="robots" content="noindex, nofollow">
		
		<!-- Include CSS File Here -->
		<link rel="stylesheet" href="css/style.css" />
		
		<!-- Include CSS File Here -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/home.js"></script>
		
	</head>
	
	<body>
		<div class="container">
			<div class="main">
				<h2>Welcome to User Home!</h2>
			</div>
			<br/>
			<div>
				<form class="form" name="logoutForm" id="logoutForm" method="POST" action="logout">
					<input type="button" name="logoutBtn" id="logoutBtn" value="Logout">
				</form>
			</div>	
		</div>
	</body>
	
</html>